@import 'tailwindcss';
@import './styles/font.css' layer(base);

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: Nunito, monospace;
  }
}

@theme {
  --font-nunito: Nunito, monospace;
}

#app {
  @apply w-dvw h-dvh bg-slate-800;
}
